/app/debug.*
/tools/AutomationTools/build/*
/tools/AutomationTools/AutomationTools.jar
*/build
*/captures
*/dist
*/nbproject/private
*.iml
*.gradle
*.eslintcache
.DS_Store
.externalNativeBuild
local.properties
webservice/storedImages/
node_modules
data